# IDEs and AIs
.agents
.idea
.junie
.DS_Store

# Python
__pycache__/
*.py[oc]
.coverage*
.pytest_cache/
.ruff_cache/
build/
dist/
wheels/
*.egg-info
.venv

# Native
native/**/.build/
native/**/.swiftpm/
src/**/bin/

# Envs
.env
.env.*
!.env.example

# Resources
/resources/assets/*
/resources/logs/*
/resources/models/*
/resources/profiles/*
!/resources/profiles/defaults.yml
!/resources/profiles/default
/resources/profiles/default/models/*
/resources/profiles/default/profile.override.yml
/resources/settings.override.yml


# Development
/sandbox

# Ignore
!.gitkeep
!.gitignore
