# IDEs and AIs
.agents
.idea
.junie
.DS_Store

# Python
__pycache__/
*.py[oc]
.coverage*
.pytest_cache/
.ruff_cache/
build/
dist/
wheels/
*.egg-info
.venv

# Nodejs
node_modules

# Dotenv
.env
.env.*
!.env.example

# Resources
/.helomi/assets/*
/.helomi/logs/*
/.helomi/models/*
/.helomi/profiles/*
!/.helomi/profiles/defaults.yml
!/.helomi/profiles/default
/.helomi/profiles/default/models/*
/.helomi/profiles/default/profile.override.yml
/.helomi/settings.override.yml

# Demo
/demo/prompts/profiles/*
!/demo/prompts/profiles/default.md

# Native
native/**/.build/
native/**/.swiftpm/
src/**/bin/

# Development
/sandbox

# Ignore
!.gitkeep
!.gitignore
