*
!.gitignore
!alexa/
!alexa/reactions/
!alexa/reactions/background.txt
!alexa/reactions/quit.txt
!gizmo/
!gizmo/reactions/
!gizmo/reactions/background.txt
!gizmo/reactions/quit.txt
!henry/
!henry/reactions/
!henry/reactions/background.txt
!henry/reactions/quit.txt
!lucy/
!lucy/reactions/
!lucy/reactions/background.txt
!lucy/reactions/quit.txt
!viki/
!viki/reactions/
!viki/reactions/background.txt
!viki/reactions/quit.txt
